#drum-machine {
  padding: 2rem;
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px silver;
  
}
.keyboard {
  width: 240px;
}
.drum-pad {
  font-size: 30px;
  background-color: lightsalmon;
  width: 70px;
  height: 60px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 1px 1px 5px grey;
}
.drum-pad:hover {
  background-color: silver;
}
#root { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

